{% extends "community/layout.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block head %}
    <link href="{% static 'community/index.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}
    <!-- title & subtitle -->
    <div class="page d-flex flex-column justify-content-center align-items-center">
        <h1 class="display-1"><b>ALUMNI MAP</b></h1>
        <h2 class="text-secondary">BASIS International/Bilingual School · China</h2>
    </div>

    <div class="page d-flex justify-content-center align-items-center">
        <div>
            <h1 class="display-3"><b> OUR MISSION </b></h1>
            <h4>
                BASIS Alumni Map fosters a supportive community by connecting current students with alumni. 
                Our platform allows users to explore a map of alumni locations, and access contact information (with consent). 
                We aim to facilitate meaningful connections through private conversations and comments, empowering both students and alumni to enhance their educational journey while collaborating with each other.
            </h4>
        </div>
        <img src="{% static "community/images/alumni web logo 1.png" %}" width="709" height="552">
    </div>
{% endblock body %}