{% load static %}

<!DOCTYPE html>
<html lang="en">
    
    <head>
        <title> BASIS Alumni Map </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link href="{% static 'community/style.css' %}" rel="stylesheet">
        {% block head %}
        {% endblock head %}
    </head>

    <body>
        {% block header %}
            <div class="header">
                <div class="page-bar"></div>
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <!-- phoenix icon -->
                    <a href="{% url "index" %}">
                        <img src="{% static "community/images/alumni web logo 1.png" %}" width="83" height="70">
                    </a>
                    
                    <!-- ms-auto: align items to the right -->
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item d-flex">
                            <a class="nav-link" href="{% url "map" %}">The Map</a>
                        </li>
                        <li class="nav-item d-flex">
                            <a class="nav-link" href="#">Get in Touch</a>
                        </li>
                        <li class="nav-item d-flex">
                            <a class="nav-link" href="https://www.usnews.com/best-colleges/rankings/national-universities">About Universities</a>
                        </li>
                        {% if user.is_authenticated %}
                            <li class="nav-item d-flex">
                                <a href="{% url "logout" %}"><button class="btn btn-small btn-outline-secondary">Logout</button></a>
                            </li>
                        {% else %}
                            <li class="nav-item d-flex">
                                <a href="{% url "login" %}"><button class="btn btn-small btn-outline-secondary">Sign in / Register</button></a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% endblock header %}

        
        <!-- body -->
        {% block body %}
        {% endblock body %}


        {% block footer %}
            <div class="footer">
                <nav class="navbar navbar-expand-lg bg-body-tertiary">
                    <!-- "w-100 justify-content-between": evenly space the item -->
                    <ul class="navbar-nav w-100 justify-content-between">
                        <!-- the 2 empty li is to populate the navbar -->
                        <li></li>
                        <li></li>
                        <li class="nav-item d-flex">
                            <a class="nav-link" href="{% url "map" %}"><b>The Map</b></a>
                        </li>
                        <li class="nav-item d-flex">
                            <a class="nav-link" href="#"><b>Get in Touch</b></a>
                        </li>
                        <li class="nav-item d-flex">
                            <a class="nav-link" href="https://www.usnews.com/best-colleges/rankings/national-universities"><b>About Universities</b></a>
                        </li>
                    </ul>
                </nav>
                <div class="page-bar"></div>
            </div>
        {% endblock footer %}
    </body>
</html>