body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;

    scroll-snap-align: start;
    scroll-snap-stop: always;
}

#input-email{
    margin: auto;
    width: 50%;
    margin-top: 120px;
}
#input-email h6{
    color: gray;
}
#input-email ::placeholder{
    text-align: center;
    color: gray;
}

#input-basis-email, #email-icon {
    background-color: #ECE6F0;
}