.page-bar{
    width: 100%;
    height: 18px;
    background: #3A549F;
}

body {
    margin-top: 103px;
    min-height: 100vh;
    display: flex;
    /* make the footer at the bottom */
    flex-direction: column;
    overflow: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.page {
    height: 100vh;
    scroll-snap-align: start;
    align-items: center;
    justify-content: center;
    /* flex: 1 0 auto; */
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

/* Main content should grow to fill available space
.page > div {
    flex-grow: 1;
} */

.navbar{
    padding-left: 15px;
    padding-right: 15px;
}

.home-page-title{
    width: 699px;
    margin-left: 100px;
}
.home-page-title h1{
    font-size: 70px;
}
/* subtitle */
.home-page-title h3{
    color: gray;
}

#input-email{
    margin: auto;
    width: 50%;
    margin-top: 120px;
}
#input-email h6{
    color: gray;
}
#input-email ::placeholder{
    text-align: center;
    color: gray;
}

#input-basis-email, #email-icon {
    background-color: #ECE6F0;
}

.navbar-nav li{
    margin-left: 20px;
}

.footer{
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    /* margin-top: -71px; */
    z-index: 1000;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}