.page-bar{
    width: 100%;
    height: 18px;
    background: #3A549F;
    z-index: 1000;
}

.navbar{
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-nav li{
    margin-left: 20px;
}

#main-body {
    margin-top:103px;
    margin-left: 50px;
    margin-right: 50px;
}

.page {
    /* minus header */
    height: calc(100vh - 103px);
    width: calc(100vw - 100px);
    padding-top: 30px;
}

.page-offset {
    /* minus header and footer */
    height: calc(100vh - 103px - 18px);
    width: calc(100vw - 100px);
    padding-top: 30px;
}

.footer {
    margin-bottom: 0;
    /* position: absolute; */
}

a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}